* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 3fr 9fr;
    height: 100vh;
    width: 100vw;
    background-color: rgb(32, 32, 32);
}

nav {
    height: min(100%, 75px);
    grid-row: 1/2;
    display: flex;
    align-items: stretch;
    margin: 20px 200px;
}

button {
    color: white;
    flex-grow: 1;
    font-size: 18px;
    border-width: 0;
    background-color: rgb(15, 15, 15);
    border-bottom-width: 2px;
    border-color: rgb(219, 1, 1);
}

button:hover {
    cursor: pointer;
    background-color: rgb(163, 0, 0);
}